cohere==5.5.4
google-ai-generativelanguage==0.6.4
google-api-core==2.19.0
google-generativeai==0.5.4
langchain==0.2.1
langchain-cohere==0.1.5
langchain-community==0.2.1
langchain-core==0.2.3
langchain-google-genai==1.0.5
langchain-qdrant==0.1.0
langchain-text-splitters==0.2.0
langserve==0.2.1
langsmith==0.1.67
numpy==1.26.4
protobuf==5.27.0
pyasn1_modules==0.4.0
pydantic==2.7.2
pydantic_core==2.18.3
pypdf==4.2.0
PyPDF2==3.0.1
qdrant-client==1.9.1
streamlit==1.35.0