cohere==5.5.4
langchain==0.2.1
langchain-cohere==0.1.5
langchain-community==0.2.1
langchain-core==0.2.3
langchain-google-genai==1.0.5
langchain-qdrant==0.1.0
langchain-text-splitters==0.2.0
langsmith==0.1.67
protobuf
pydantic==2.7.2
pydantic_core==2.18.3
PyPDF2==3.0.1
qdrant-client==1.9.1
streamlit==1.35.0